extends templates/layout

block content
    h1 Editing #{movie.title}
    .form-container
        form(action=`/${movie.id}/edit`, method="post")
            input(type="text", pattern=".{3,}" , name="title", value=`${movie.title}`, required=true, title="3글자 이상")
            input(type="number", name="year",value=`${movie.year}` , required=true)
            input(type="number", step=".01",name="rating",value=`${movie.rating}` , required=true)
            textarea(name="synopsis" , required=true)= movie.synopsis
            input(type="text", name="genres", value=`${movie.genres}`, required=true)
            input(type="submit", value="Submit")
    a(href=`/${movie.id}/delete`) Delete Movie